<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Мой сайт{% endblock %}</title>
    <link href="/static/favicon.ico" rel="icon"/>
    <link href="/static/css/base.css" rel="stylesheet"/>
</head>
<body>
{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}
<header>
    <nav>
        <a href="/">Главная</a> |
        {% if user %}
        Добро пожаловать, {{ user.username }}!
        <form action="/pages/logout/" method="post" style="display:inline;">
            <button type="submit">Выйти</button>
        </form>
        {% else %}
        <a href="/pages/login">Войти</a>
        {% endif %}
        | <a href="/pages/registration/">Регистрация</a>
    </nav>
</header>

<main>
    {% block content %}
    <!-- Здесь будет основное содержимое страниц -->
    {% endblock %}
</main>

</body>
</html>
