{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}


<h1>Регистрация нового пользователя</h1>
<form action="/pages/registration/" method="post">
    <label>
        Логин:
        <input maxlength="25" name="username" required type="text"/>
    </label>
    <label>
        Email:
        <input maxlength="50" name="email" required type="email"/>
    </label>
    <label>
        Пароль:
        <input maxlength="25" minlength="8" name="password" required type="password"/>
    </label>
    <button type="submit">Зарегистрироваться</button>
</form>
{% endblock %}
